.div_menu {
    background-color: black;
    margin-bottom: 12px;
}
.menu {
    color: white;
    text-transform: uppercase;
}
.slider-div {
    text-align: center;
	position: relative;
}
.slider {
    box-shadow: -3px -3px 2px rgba(0,0,0,0.4);
    padding: 10px;
    border: 1px dashed grey;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
}
.footer-alamat {
    font-size: small;
}
